* {
	padding: 0;
	margin: 0;
}
body {
	background-color: #fbfbfb;
}
body.noscroll {
	overflow: hidden;
}

header {
	background-color: #fbfbfb;
	box-shadow: 0 0 3px 0 rgb(0 0 0 / 15%);
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
}
header::before {
	content: '';
    position: absolute;
    background: #fbfbfb;
    width: 160px;
    height: 150px;
    z-index: 0;
    bottom: 0px;
    left: 49%;
    margin-left: -75px;
}
header::after {
	content: '';
	position: absolute;
	background: #fbfbfb;
	width: 150px;
	height: 150px;
	z-index: -1;
	border-radius: 150px;
	bottom: -25px;
	left: 50%;
	margin-left: -75px;
	box-shadow: 0 0 3px 0 rgb(0 0 0 / 15%);
}
header.no-after::after {
	box-shadow: none;
}
header nav.navigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	position: static;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 16px;
}
header nav.navigation .logo {
	position: absolute;
	left: 50%;
	display: flex;
	height: 100%;
	transform: translate(-50%, 0px);
	border: none;
	transition: left 0.15s ease-out 0s, height 0.15s ease-out 0s, width 0.15s ease-out 0s, margin-top 0.15s ease-out 0s;
}
header nav.navigation .logo .logo-link {
	margin-top: 6px;
	text-decoration: none;
	cursor: pointer;
}
header nav.navigation .logo .logo-link img {
	height: 80px;
}
header nav.navigation .nav-links {
	display: none;
}
header nav.navigation .nav-links ul {
	list-style: none;
	display: flex;
}
header nav.navigation .nav-links ul li {
	display: inline-block;
	line-height: 90px;
}
header nav.navigation .nav-links ul li a {
	padding: 12px 25px;
	text-decoration: none;
	font-family: Dosis,Helvetica,Arial,sans-serif;
	font-weight: 800;
	/* font-size: 26px; */
	/* text-transform: uppercase; */
	color: #3b3331;
}
header nav.navigation .nav-links ul li a:hover {
	color: #D80118;
	text-decoration: underline;
	text-decoration-color: #D80118;
	text-decoration-thickness: 0.525em;
	text-underline-offset: 26.5px;
}
header nav.navigation .nav-links ul li a.book-button {
	border: 2px solid #D80118;
	border-radius: 2px;
	color: #D80118;
}
header nav.navigation .nav-links ul li a.book-button:hover {
	background-color: #D80118;
	color: #fbfbfb;
	text-decoration: none;
}
header nav.navigation .top-drawer {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding-top: 80px;
	background-color: #fbfbfb;
	z-index: -1;
	transform: translateY(-100%);
	transition: transform .3s ease-out;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
header nav.navigation .top-drawer.open {
	transform: translateY(0);
}
header nav.navigation .top-drawer ul {
	list-style: none;
	text-align: center;
	padding: 50px 16px;
	font-family: Dosis,Helvetica,Arial,sans-serif;
}
header nav.navigation .top-drawer ul li a {
	display: block;
	text-decoration: none;
	padding: 1em;
	font-size: 24px;
	color: #fbfbfb;
}
header nav.navigation .top-drawer.open ul li a {
	animation: change .2s step-end both;
}
@keyframes change {
	from { color: #fbfbfb }
	to   { color: #000 }
}

header nav.navigation .burger-menu {
	display: block;
	height: 40px;
}

/* Main Section */
main {
	margin-top: 80px;
}
main .home-hero {
	height: 550px;
	padding: 0 16px;
	position: relative;
	background-color: #fbfbfb;
}
main .home-hero video {
	object-position: center center;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
	/* z-index: -1; */
	object-fit: cover;
}
main .home-hero .home-hero-img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url('./public/media/cayo-img.jpeg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;	
}
main .home-hero .home-hero-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(0 0 0 / 30%);
}
main .home-hero .overlay-text {
	width: 100%;
	height: 100%;
	align-content: center;
	z-index: 300;
}
main .home-hero .overlay-text .text-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 0;
	position: relative;
	color: #fff;
}
main .home-hero .overlay-text .text-container h1 {
	margin: 0px;
	margin-bottom: 30px;
	line-height: 1.5;
	font-family: ProximaNova,sans-serif;
	text-transform: uppercase;
	letter-spacing: 4.5px;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
}
main .home-hero .overlay-text .text-container h2 {
	margin: 0px;
	margin-bottom: 30px;
	line-height: 1.18;
	letter-spacing: -0.5px;
	font-family: ProximaNova,sans-serif;
	font-size: 26px;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	max-width: 600px;
}
main .home-hero .overlay-text .text-container p {
	margin: 0px;
	margin-bottom: 30px;
	line-height: 1.5625;
	letter-spacing: 0.5px;
	font-family: ProximaNova,sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	max-width: 600px;
}
main .home-hero .overlay-text .text-container a {
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	padding: 10px 20px;
	letter-spacing: 0.5px;
	border: 2px solid transparent;
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	background-color: #d80118;
	font-family: ProximaNova,sans-serif;
}
main .home-hero .overlay-text .text-container a:hover {
	color: #d80118;
	background-color: #fff;
}
/* Tours Section */
main .tours {
	padding: 80px 16px 40px;
	font-family: 'Dosis', sans-serif;
	max-width: 1140px;
	margin: 0 auto;
}
main .tours h1 {
	text-align: center;
	font-family: ProximaNova,sans-serif;
	text-transform: uppercase;
	letter-spacing: 4.5px;
	font-weight: 500;
	margin-bottom: 30px;
}
main .tours .tour-cards {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -16px;
}
main .tours .tour-cards .tour-card-container {
	width: 100%;
	margin-bottom: 30px;
}
main .tours .tour-cards .tour-card-container .tour-card {
	margin: 16px;
	/* height: 360px; */
	border-radius: 2px;
	box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
	background-color: #fff;
}
main .tours .tour-cards .tour-card a {
	text-decoration: none;
	color: #000;
}
main .tours .tour-cards .tour-card a .img-container {
	display: flex;
	overflow: hidden;
	height: 200px;
	margin-bottom: 20px;
	/* position: relative; */
	border-radius: 2px 2px 0 0;
}
main .tours .tour-cards .tour-card a .img-container img {
	object-fit: cover;
	width: 100%;
	display: block;
	height: 100%;
}
main .tours .tour-cards .tour-card a .tour-intro {
	vertical-align: top;
	padding: 0 10px 10px;
}
main .tours .tour-cards .tour-card a .tour-intro h4 {
	font-size: 1.11111rem;
	text-transform: uppercase;
	margin-bottom: 0.61111rem;
	border-bottom: 1px dashed gray;
	padding-bottom: 8px;
}
main .tours .tour-cards .tour-card a .tour-intro p {
	margin-bottom: 10px;
}
main .tours .tour-cards .tour-card a .tour-intro span {
	color: #5897cc;
	font-weight: 700;
}
/* Testimonials section */
main .testimonials {
	background-color: #e7cb7cc7;
	background: linear-gradient( 116deg, #f3e188, #3c818d);
}
main .testimonials .testimonial-wrapper {
	padding: 80px 16px;
	font-family: 'Dosis', sans-serif;
	max-width: 1140px;
	margin: 0 auto;
}
main .testimonials .testimonial-container {
	position: relative;
	background-color: #fff;
	box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
	border-radius: 2px;
}
main .testimonials .testimonial-container::before {
	content: "“";
	left: -0.83333rem;
	top: 2.22222rem;
}
main .testimonials .testimonial-container::after {
	content: "“";
	right: -0.83333rem;
	bottom: 2.22222rem;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
main .testimonials .testimonial-container::before, main .testimonials .testimonial-container::after {
	position: absolute;
	z-index: 4;
	font-family: Dosis,Helvetica,Arial,sans-serif;
	font-size: 5.55556rem;
	font-weight: 800;
	text-align: center;
	width: 3.77778rem;
	height: 5rem;
	line-height: 7.5rem;
	background-color: #d80019;
	color: #fff;
}
main .testimonials .testimonial-container .testimonial-title {
	position: relative;
	text-align: center;
	text-transform: uppercase;
	padding: 3.33333rem;
	padding-bottom: 0;
	margin-bottom: 1.5rem;
	font-size: 1.66667rem;
}
main .testimonials .testimonial-container .testimonial-info {
	position: relative;
	padding: 3.33333rem 20%;
	padding-top: 0;
}
main .testimonials .testimonial-container .testimonial-info .carousel-inner {
	width: 100%;
	overflow: hidden;
	position: relative;
}
main .testimonials .testimonial-container .testimonial-info .carousel-inner > .carousel-item.next {
	display: block;
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
}
main .testimonials .testimonial-container .testimonial-info .carousel-inner .carousel-item {
	position: relative;
	display: none;
	transition: left .6s ease-in-out;

	transition: -webkit-transform .6s ease-in-out;
	transition: transform .6s ease-in-out;
	transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;

	/* left: 0;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0); */
}
main .testimonials .testimonial-container .testimonial-info .carousel-inner .carousel-item.active {
	display: block;
	left: 0;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
main .testimonials .testimonial-container .testimonial-info .carousel-inner .carousel-item.active.left {
	transform: translate3d(-100%,0,0);
}
main .testimonials .testimonial-container .testimonial-info .carousel-inner .carousel-item.next {
	left: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
main .testimonials .testimonial-container .testimonial-info .carousel-inner .carousel-item.next.left {
	left: 0;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
main .testimonials .testimonial-container .testimonial-info .carousel-inner .carousel-item blockquote {
	font-size: 1.11111rem;
	line-height: 1.5;
	text-align: center;
	margin-bottom: 1.44444rem;
}
main .testimonials .testimonial-container .testimonial-info .carousel-inner .carousel-item .testimonial-author-container {
	text-align: center;
}
main .testimonials .testimonial-container .testimonial-info .carousel-inner .carousel-item .testimonial-author-container .testimonial-author {
	display: inline-block;
	color: #d80019;
	font-family: Dosis,Helvetica,Arial,sans-serif;
	font-weight: 800;
	vertical-align: middle;
	text-transform: uppercase;;
}
main .testimonials .testimonial-container .testimonial-info .carousel-inner .carousel-item .testimonial-author-container .testimonial-author cite {
	font-style: normal;
}
main .testimonials .testimonial-container .testimonial-info .carousel-inner .carousel-item .testimonial-author-container .testimonial-rating {
	color: #fac800;
	margin-top: 10px;
}
main .about-us {
	padding: 80px 16px;
	font-family: 'Dosis', sans-serif;
	max-width: 1140px;
	margin: 0 auto;
}
main .about-us h1 {
	text-align: center;
	font-family: ProximaNova,sans-serif;
	text-transform: uppercase;
	letter-spacing: 4.5px;
	font-weight: 500;
	margin-bottom: 30px;
}
main .about-us h2 {
	text-align: center;
	color: #3b3331;
	font-size: 1.3rem;
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 30px;
}
main .about-us .info-wrapper {
	display: flex;
	flex-direction: column;
}
main .about-us .about-info {
	/* margin-bottom: 30px; */
	color: #888888;
	text-align: center;
	border-bottom: 1px dotted #888888;
}
main .about-us .about-info p {
	margin-bottom: 16px;
	font-size: 1.2rem;
	line-height: 1.5;
}
main .about-us .about-info-container {
	margin-bottom: 30px;
}
main .about-us .about-info-container h5 {
	color: #5897cc;
	font-size: 18px;
	text-transform: uppercase;
	margin: 1rem 0;
	font-family: Dosis,Helvetica,Arial,sans-serif;
	font-weight: 800;
	line-height: 1.2;
	display: none;
}
main .about-us .image-grid-main {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
}
main .about-us .image-grid-main .img-container {
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 380px;
	margin-bottom: 20px;
	/* position: relative; */
	border-radius: 2px 2px 0 0;
}
main .about-us .image-grid-main .img-container img {
	object-fit: cover;
	width: 100%;
	display: block;
	height: 100%;
}
main .about-us .image-grid-main .img-grid-inner {
	display: flex;
	flex-direction: column;
}
main .about-us .image-grid-main .img-grid-inner .img-container {
	height: 180px;
}


@media only screen and (min-width: 768px) {
	/* Header */
  header {
		height: 90px;
	}
	header::before {
		width: 280px;
		height: 150px;
		bottom: 0px;
		left: 45%;
		margin-left: -75px;
	}
	header::after {
		width: 225px;
		height: 225px;
		border-radius: 225px;
		bottom: -35px;
		left: 50%;
		margin-left: -112px;
	}
	header nav.navigation .logo .logo-link {
		margin-top: 16px;
	}
	header nav.navigation .logo .logo-link img {
		height: 90px;
	}
	header nav.navigation .top-drawer {
		padding-top: 90px;
	}
	/* Main Section */
	main {
		margin-top: 90px;
	}
	main .home-hero .overlay-text .text-container h1 {
		font-size: 18px;
	}
	main .home-hero .overlay-text .text-container h2 {
		font-size: 50px;
	}
	main .home-hero .overlay-text .text-container p {
		font-size: 18px;
	}
	/* About us section */
	main .about-us .image-grid-main {
		flex-direction: row;
		/* width: 100%; */
	}
	main .about-us .image-grid-main > .img-container {
		margin-right: 20px;
	}
	main .about-us .image-grid-main .img-grid-inner .img-container {
		min-width: 355px;
		width: 100%;
	}
}

@media only screen and (min-width: 992px) {
	header nav.navigation .nav-links {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		height: 100%;
		position: static;
		width: 100%;
	}
	header nav.navigation .nav-links ul li a {
		padding: 12px 15px;
	}
	header nav.navigation .burger-menu {
		display: none;
	}
	/* Cards */
	main .tours .tour-cards {
		flex-direction: row;
	}
	main .tours .tour-cards .tour-card-container {
		width: 33.3%;
	}
	/* About us section */
	main .about-us .info-wrapper {
		flex-direction: row;
	}
	main .about-us .info-wrapper .about-info-container {
		width: 33.33%;
	}
	main .about-us .info-wrapper .about-info-container .about-info {
		text-align: left;
	}
	main .about-us .info-wrapper .about-info-container h5 {
		display: block;
	}
	main .about-us .info-wrapper .image-grid-main {
		width: 66.66%;
		justify-content: space-between;
	}
	main .about-us .info-wrapper .image-grid-main > .img-container {
		margin-left: 20px;
	}
	main .about-us .info-wrapper .image-grid-main .img-grid-inner .img-container {
		min-width: 288px;
	}
}
@media only screen and (min-width: 1200px) {
	header::before {
		width: 300px;
	}
	header nav.navigation .nav-links ul li a {
		padding: 12px 25px;
	}
	/* About us section */
	main .about-us .info-wrapper .image-grid-main .img-grid-inner .img-container {
		min-width: 355px;
	}
}